name: Release Maven

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: "Version to use when preparing a release (e.g., 0.1.0)"
        required: true
        default: 0.1.0
      developmentVersion:
        description: "Next development version (e.g., 0.1.1-SNAPSHOT)"
        required: true
        default: 0.1.1-SNAPSHOT

jobs:
  release-maven:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    env:
      TZ: Europe/Berlin
    steps:
      - id: maven-release-step
        uses: it-at-m/lhm_actions/action-templates/actions/action-maven-release@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          app-path: "." # adjust if pom.xml ends up in a subdirectory
          releaseVersion: ${{ inputs.releaseVersion }}
          developmentVersion: ${{ inputs.developmentVersion }}
          use-pr: "true"
          SIGN_KEY_PASS: ${{ secrets.gpg_passphrase }}
          CENTRAL_USERNAME: ${{ secrets.sonatype_username }}
          CENTRAL_PASSWORD: ${{ secrets.sonatype_password }}
          GPG_PRIVATE_KEY: ${{ secrets.gpg_private_key }}
